---
type TimelineItem = {
  year: string;
  title: string;
  description: string;
};

type Props = {
  items: TimelineItem[];
};

const { items } = Astro.props;
---

<div class="mt-20 relative">
  <h2 class="font-bold text-2xl mb-8">journey</h2>
  <div class="absolute left-[7px] top-[4rem] bottom-10 w-[2px] bg-blue-500/20"></div>
  <div class="space-y-8">
    {
      items.map((item) => (
        <div class="flex gap-6 items-start ml-0.5">
          <div class="w-3 h-3 rounded-full bg-blue-500/50 mt-2 shrink-0" />
          <div>
            <p class="text-sm text-blue-400 mb-1">{item.year}</p>
            <h3 class="font-medium mb-1">{item.title}</h3>
            <p class="opacity-60 text-sm">{item.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>